<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>gameBoss</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>HomeFilter</display-name>
    <filter-name>HomeFilter</filter-name>
    <filter-class>br.com.gameBoss.mvc.controller.HomeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HomeFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>br.com.gameBoss.mvc.controller.Controller</servlet-class>
  </servlet>
 
</web-app>